@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}
 
body {
  font-family: 'FakePearl-Medium', sans-serif;
  font-size: 105%;
  font-weight: 400
}
<<<<<<< Updated upstream
code {
  font-family: 'Monaco', 'Lucida Console',  monospace;
  font-size: 90%;
=======
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Merriweather', sans-serif;
  
>>>>>>> Stashed changes
}