{{ partial "header.html" . }}

<div class="article-meta">
    <main class="content" role="main">
      
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    
    {{ if eq .Section "post" }}
    <span class="author">{{ .Params.author }}</span>
    {{ end }} &nbsp;
    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }} &nbsp;     
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

</div>
    
  <article class="article">


    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}