body {
  font-family: Seravek, Optima, Candara, Calibri, "Droid Sans", Arial, sans-serif;
  font-size: 115%;
}
code {
  font-family: Consolas, Lucida Console, Monaco, monospace;
  font-size: 85%;
}
h1, h2, h3 {
  font-family: Palatino, Book Antiqua, serif;
}
