
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.008/build/webfont/css/vf.css');
@import url('https://cdn.jsdelivr.net/gh/chiron-fonts/chiron-sans-hk-pro@1.008/build/webfont/css/vf-italic.css')
  
@import url('https://cdn.jsdelivr.net/gh/vdustr/taipei-sans-tc/packages/core/dist/Regular/TaipeiSansTCBeta-Regular.css')
@import url('https://cdn.jsdelivr.net/gh/vdustr/taipei-sans-tc/packages/core/dist/Regular/TaipeiSansTCBeta-Light.css')
@import url('https://cdn.jsdelivr.net/gh/vdustr/taipei-sans-tc/packages/core/dist/Regular/TaipeiSansTCBeta-Bold.css')
  
  
<link
  href="https://cdn.jsdelivr.net/gh/vdustr/taipei-sans-tc/packages/core/dist/Regular/TaipeiSansTCBeta-Regular.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/gh/vdustr/taipei-sans-tc/packages/core/dist/Light/TaipeiSansTCBeta-Light.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/gh/vdustr/taipei-sans-tc/packages/core/dist/Bold/TaipeiSansTCBeta-Bold.css"
  rel="stylesheet"
/>

@font-face {
  font-family: SweiSansCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-sans@2.102/WebFont/CJK%20TC/SweiSansCJKtc-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/swei-sans@2.102/WebFont/CJK%20TC/SweiSansCJKtc-Regular.woff) format("woff");

}

@font-face {
  font-family: SweiSpringSugarCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringSugarCJKtc-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringSugarCJKtc-Regular.woff) format("woff");
}

@font-face {
  font-family: SweiDelLunaSansCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-right-bottom-sans@2.130/WebFont/CJK%20TC/SweiDelLunaSansCJKtc-Regular.woff2) format("woff2");
}
 
body {
  font-family: 'Lato', 'TaipeiSansTCBeta-Regular', sans-serif;
  font-size: 115%;
  font-weight: 400;
  letter-spacing: 1px
}
<<<<<<< Updated upstream
code {
  font-family: 'Monaco', Consolas,  monospace;
  font-size: 95%;
  letter-spacing: 1px
=======
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 1px
  
>>>>>>> Stashed changes
}
